html, body, div, p, header, form, input{ margin:0; padding:0; display:block; }
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin:0; padding:0; }
body { margin:0; padding:0; font:400 15px/18px arial, sans-serif; background:#ebebeb;}
p{ margin:10px 7px; padding:5px; color:#000; background:#58cb9e; border-radius:5px; }
p > span { display:block; background: rgba(0,0,0,0.25); border-radius: 5px; padding: 2px 5px; color: #fff; }
p:nth-child(even){ background:#51ccff;}
#search-submit{ display: none; }
#search{ width:98%; margin: 5px 1%; padding:15px 5px; height: 25px; color:#444; font:400 16px/normal arial, sans-serif; box-sizing: border-box; border:1px solid #abadb3; border-radius: 3px; }
h1,h2{ font:400 20px/40px sans-serif; border-bottom: 4px solid #444; margin: 0 7px 20px; }
h2 { font-size: 17px; }
.dn { display: none; }

